$main-color: #88BDBC;
$main-color_25: #88BDBC40;
$main-dark: #254E58;
$main-darker: #112D32;
$main-darker_50: #112D3280;
$outline-color: #4F4A41;
$light: #FFFFFF;
$light_60: #FFFFFF99;
$light_70: #FFFFFFB3;
$main-font: "ABeeZee";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $main-font, sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, white 0%, $main-color 100%);
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    height: 70px;
    .btn-source {
        position: absolute;
        background: $main-dark;
        color: $light;
        border-radius: 10px;
        width: 90px;
        height: 30px;
        border: 2px solid $outline-color;
        box-shadow: 0px 4px 4px #6E665840;
        font-family: $main-font;
        cursor: pointer;
        transition: 0.25s;
        &:hover{
            background: $main-darker;
            width: 100px;
            height: 35px;
        }
        &:active{
            opacity: 25%;
        }
    }
}

.control {
    display: flex;
    justify-content: flex-start;
    padding: 8px 20px;
    &__btn {
        width: 40px;
        height: 40px;
        margin: 0px 5px;
        cursor: pointer;
    }
}

main {
    display: flex;
    margin: 0px 20px;
}