$main-color: #88BDBC;
$main-color_25: #88BDBC40;
$main-dark: #254E58;
$main-darker: #112D32;
$main-darker_50: #112D3280;
$outline-color: #4F4A41;
$shadow-color: #6E665840;
$light: #FFFFFF;
$light_60: #FFFFFF99;
$light_70: #FFFFFFB3;
$main-font: "ABeeZee";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $main-font, sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, white 0%, $main-color 100%);
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    height: 70px;
    width: 100%;
    .btn-source {
        position: absolute;
        background: $main-dark;
        color: $light;
        border-radius: 10px;
        width: 90px;
        height: 30px;
        border: 2px solid $outline-color;
        box-shadow: 0px 4px 4px $shadow-color;
        font-family: $main-font;
        cursor: pointer;
        transition: 0.25s;
        &:hover{
            background: $main-darker;
            width: 100px;
            height: 35px;
        }
        &:active{
            opacity: 25%;
        }
    }
}

.control {
    display: flex;
    justify-content: flex-start;
    padding: 8px 30px;
    width: 100%;
    &__btn {
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        cursor: pointer;
    }
}

main {
    position: relative;
    display: flex;
    width: 100%;
    // padding: 0px 10px;
}

.container {
    position: absolute;
    display: flex;
    height: 580px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    &__cards{
        width: 70%;
        display: grid;
        padding: 30px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 35px 40px;
    }
    &__filters{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 25%;
        padding: 10px 0px 10px 0px;
        overflow: hidden;
    }
}

.background {
    background: $light_60;
    border-radius: 15px;
    border: 1px solid $outline-color;
    filter: blur(2px);
    box-shadow: 0px 4px 4px $shadow-color;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 12%;
    border: 1px solid $main-dark;
    border-radius: 10px;
    margin: 5px 0px;
    &__title{
        font-size: 30px;
        color: $main-darker;
    }
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px 0px;
    background: $light_60;
    border: 1px solid $main-dark;
    border-radius: 10px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px 0px;
    &__title{
        font-size: 20px;
        color: $main-dark;
        margin: 5px 0px;
    }
    &__filters{
        display: flex;
        flex-direction: column;
        background: $light;
        border: 1px solid $main-dark;
        width: 100%;
        padding: 5px;
        &--box{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100px;
            background: $light;
            border: 1px solid $main-dark;
        }
    }
    span {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 2px 0px;
        img {
            margin: 0px 5px;
            cursor: pointer;
        }
    }
    &__input {
        font-family: $main-font;
        width: 100%;
        margin: 0px 0px 10px 0px;
        &:focus {
            outline-width: 0px;
        }
    }
}

.text-fields {
    color: $main-dark;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid $main-dark;
    box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.25);
    background: $main-color_25;
    &__card{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0px 15px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__title{
        color: $main-dark;
        text-align: center;
    }
    &__text{
        color: $main-dark;
        &--price{
            font-size: 12px;
        }
        &--date{
            font-size: 12px;
        }
    }
    &__button{
        background: $main-darker;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 85px;
        padding: 7px;
        // height: 25px;
        a {
            color: white;
            font-size: 14px;
            text-decoration: none;
        }
    }
    .keyword{
        display: flex;
        &__text{
            background: $main-color;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            margin: 3px;
            p {
                color: $main-dark;
            }
        }
    }
}

